<!DOCTYPE html>
<html>
    <body>
        <h1>Add Show Details</h1>
        <form action="addshow/" method="post">
            {% csrf_token %}
            ID: <br>
            <input type="number" name="show_id">
            <br>
            Name of the Show: <br>
            <input type="text" name="name">
            <br>
            Season : <br>
            <input type="number" name="season">
            <br>
            Episodes : <br>
            <input type="number" name="episodes">
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>