<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Wish List</h1>
    <table border="4">
        {% for show in shows %}
        <tr>
        <td>{{ show.show_name }}</td>
        <td>{{ show.season }}</td>
        <td>{{ show.episodes }}</td>
        </tr>
        {% endfor %}
        </table>
        
</body>
</html>
<script>
function findValueInRow() {
    table = document.getElementById("table2");
    var rows = table.rows;
    for (var i = 1; i < rows.length; i++) {
      var cols = rows[i].cells;
      for (var c = 0; c < cols.length; c++) {
        if (cols[c].innerText == 'RESERVED') {
          return cols[0].innerHTML;
        }
      }
    }
    return '';
  }
  </script>